@font-face {
  font-family: 'aparajita';
  src: url("/fonts/aparaj.ttf");
}

@font-face {
  font-family: 'lato-italic';
  src: url("/fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: 'lato-light';
  src: url("/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'lato-regular';
  src: url("/fonts/Lato-Regular.ttf");
}
/*# sourceMappingURL=fonts.css.map */