@import fonts
@import colors

body
    background: url('/img/background.png')
    background-size: auto
.logo-row
    .logo-container
        position: relative
        .background
            position: absolute
            top: -15px
            left: -15px
            width: calc( 100% + 30px )
            height: 100%
            background: url('/img/background-logo.svg')
            background-size: cover
            z-index: 0
        padding-top: 2rem
        text-align: center
        .logo
            display: block
            position: relative
            z-index: 1
            .img-logo
                width: 125px

.home
    .title-cont
        margin-top: 2rem
        .title
            font-family: 'aparajita'
            color: $title-gold
            font-size: 1.25rem
            text-align: center
            margin-top: 0
            margin-bottom: 0
    .menu-index
        padding-left: 1rem
        padding-right: 1rem
        .menu
            display: flex
            flex-direction: column
            align-items: center

            .menu-item-left
                display: flex
                align-items: center
                position: relative
                justify-content: flex-start
                width: 270px
                .image-cont
                    width: 120px
                    height: 120px
                    border: 1px solid $white
                    border-radius: 120px
                    position: relative
                    z-index: 2
                    img
                        width: 100%
                .text-cont
                    background: $title-background
                    width: 200px
                    padding-top: 1rem
                    padding-bottom: 1rem
                    padding-left: 3.5rem
                    position: absolute
                    left: 60px
                    z-index: 1
                    .text
                        color: $white
                        font-family: 'aparajita'
                        font-size: 1.25rem
                        margin-top: 0
                        margin-bottom: 0
                        text-align: center
                        line-height: 1rem
                        display: block
                    .subtext
                        line-height: .9rem
                        display: block
                        font-family: 'lato-italic'
                        font-size: .8rem
                        text-align: center
                        color: $white
                        margin-top: 0
                        margin-bottom: 0
            .menu-item-right
                display: flex
                align-items: center
                position: relative
                justify-content: flex-end
                width: 270px
                .image-cont
                    width: 120px
                    height: 120px
                    border: 1px solid $white
                    border-radius: 120px
                    position: relative
                    z-index: 2
                    img
                        width: 100%
                .text-cont
                    background: $title-background
                    width: 200px
                    padding-top: 1rem
                    padding-bottom: 1rem
                    padding-right: 3.5rem
                    position: absolute
                    right: 60px
                    z-index: 1
                    .text
                        color: $white
                        font-family: 'aparajita'
                        font-size: 1.25rem
                        margin-top: 0
                        margin-bottom: 0
                        text-align: center
                        line-height: 1rem
                        display: block
                    .subtext
                        line-height: .9rem
                        display: block
                        font-family: 'lato-italic'
                        font-size: .8rem
                        text-align: center
                        color: $white
                        margin-top: 0
                        margin-bottom: 0
            .line-1
                background: url('/img/lines.svg')
                height: 40px
                width: 157px
                background-size: cover
                margin-top: -1rem
            .line-2
                background: url('/img/lines-2.svg')
                height: 40px
                width: 157px
                background-size: cover
                margin-top: -1rem






