@font-face {
  font-family: 'aparajita';
  src: url("/fonts/aparaj.ttf");
}

@font-face {
  font-family: 'lato-italic';
  src: url("/fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: 'lato-light';
  src: url("/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'lato-regular';
  src: url("/fonts/Lato-Regular.ttf");
}

.page .title-row .title-cont {
  position: relative;
  text-align: center;
}

.page .title-row .title-cont .img-title {
  width: calc(100% - 30px);
}

.page .title-row .title-cont .arrow-right {
  position: absolute;
  right: 0;
  top: calc( 35% - 15px);
  width: 15px;
  height: 15px;
}

.page .title-row .title-cont .arrow-left {
  position: absolute;
  left: 0;
  top: calc( 35% - 15px);
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page .content-row {
  background: rgba(76, 58, 28, 0.5);
  background-repeat: repeat-y;
  background-size: cover;
  padding-top: 4rem !important;
  margin-top: -8rem !important;
  margin-bottom: 3rem;
  min-height: 450px;
}

.page .content-row .content-col .title {
  margin-top: 3rem !important;
  font-family: 'aparajita';
  color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
}

.page .content-row .white-text {
  color: #FFFFFF;
  font-family: 'lato-light';
  font-size: 1.05rem;
}

.page .content-row .brown-text {
  color: #4C3A1C;
  font-family: 'lato-regular';
  font-size: 1.05rem;
}

.page .content-row .white-bold {
  font-family: 'lato-regular';
  color: #FFFFFF;
  font-size: 1.05rem;
}

.page .content-row .map-container {
  margin-top: 2rem;
  text-align: center;
}

.page .content-row .map-container .map {
  width: 170px;
}

.page .content-row .map-container .map-title {
  margin-top: -1rem;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: TimesNewRoman;
  font-size: 1.05rem;
  font-weight: 300;
}

.page .content-row .map-container .map-subtitle {
  margin-top: 0;
  font-family: 'lato-italic';
  color: #FFFFFF;
  font-size: .8rem;
}

.page .content-row .only-text {
  padding: 0 4rem;
  text-align: center;
  padding-bottom: 4rem;
}
/*# sourceMappingURL=page.css.map */