@import fonts
@import colors


.page
    .title-row
        .title-cont
            position: relative
            text-align: center
            .img-title
                width: calc(100% - 30px)
            .arrow-right
                position: absolute
                right: 0
                top: calc( 35% - 15px )
                width: 15px
                height: 15px
                img
                    100%
            .arrow-left
                position: absolute
                left: 0
                top: calc( 35% - 15px )
                width: 15px
                height: 15px
                transform: rotate(180deg)
                img
                    100%
    .content-row
        background: $title-background
        background-repeat: repeat-y
        background-size: cover
        padding-top: 4rem !important
        margin-top: -8rem !important
        margin-bottom: 3rem
        min-height: 450px
        .content-col
            .title
                margin-top: 3rem !important
                font-family: 'aparajita'
                color: $white
                font-size: 1.5rem
                text-align: center
        .white-text
            color: $white
            font-family: 'lato-light'
            font-size: 1.05rem
        .brown-text
            color: $brown
            font-family: 'lato-regular'
            font-size: 1.05rem
        .white-bold
            font-family: 'lato-regular'
            color: $white
            font-size: 1.05rem
        .map-container
            margin-top: 2rem
            text-align: center
            .map
                width: 170px
            .map-title
                margin-top: -1rem
                margin-bottom: 0
                color: $white
                font-family: TimesNewRoman
                font-size: 1.05rem
                font-weight: 300
            .map-subtitle
                margin-top: 0
                font-family: 'lato-italic'
                color: $white
                font-size: .8rem
        .only-text
            padding: 0 4rem
            text-align: center
            padding-bottom: 4rem
