@font-face {
  font-family: 'aparajita';
  src: url("/fonts/aparaj.ttf");
}

@font-face {
  font-family: 'lato-italic';
  src: url("/fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: 'lato-light';
  src: url("/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'lato-regular';
  src: url("/fonts/Lato-Regular.ttf");
}

body {
  background: url("/img/background.png");
  background-size: auto;
}

.logo-row .logo-container {
  position: relative;
  padding-top: 2rem;
  text-align: center;
}

.logo-row .logo-container .background {
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc( 100% + 30px);
  height: 100%;
  background: url("/img/background-logo.svg");
  background-size: cover;
  z-index: 0;
}

.logo-row .logo-container .logo {
  display: block;
  position: relative;
  z-index: 1;
}

.logo-row .logo-container .logo .img-logo {
  width: 125px;
}

.home .title-cont {
  margin-top: 2rem;
}

.home .title-cont .title {
  font-family: 'aparajita';
  color: #C59B2D;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.home .menu-index {
  padding-left: 1rem;
  padding-right: 1rem;
}

.home .menu-index .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .menu-index .menu .menu-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 270px;
}

.home .menu-index .menu .menu-item-left .image-cont {
  width: 120px;
  height: 120px;
  border: 1px solid #FFFFFF;
  border-radius: 120px;
  position: relative;
  z-index: 2;
}

.home .menu-index .menu .menu-item-left .image-cont img {
  width: 100%;
}

.home .menu-index .menu .menu-item-left .text-cont {
  background: rgba(76, 58, 28, 0.5);
  width: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3.5rem;
  position: absolute;
  left: 60px;
  z-index: 1;
}

.home .menu-index .menu .menu-item-left .text-cont .text {
  color: #FFFFFF;
  font-family: 'aparajita';
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1rem;
  display: block;
}

.home .menu-index .menu .menu-item-left .text-cont .subtext {
  line-height: .9rem;
  display: block;
  font-family: 'lato-italic';
  font-size: .8rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.home .menu-index .menu .menu-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 270px;
}

.home .menu-index .menu .menu-item-right .image-cont {
  width: 120px;
  height: 120px;
  border: 1px solid #FFFFFF;
  border-radius: 120px;
  position: relative;
  z-index: 2;
}

.home .menu-index .menu .menu-item-right .image-cont img {
  width: 100%;
}

.home .menu-index .menu .menu-item-right .text-cont {
  background: rgba(76, 58, 28, 0.5);
  width: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3.5rem;
  position: absolute;
  right: 60px;
  z-index: 1;
}

.home .menu-index .menu .menu-item-right .text-cont .text {
  color: #FFFFFF;
  font-family: 'aparajita';
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1rem;
  display: block;
}

.home .menu-index .menu .menu-item-right .text-cont .subtext {
  line-height: .9rem;
  display: block;
  font-family: 'lato-italic';
  font-size: .8rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.home .menu-index .menu .line-1 {
  background: url("/img/lines.svg");
  height: 40px;
  width: 157px;
  background-size: cover;
  margin-top: -1rem;
}

.home .menu-index .menu .line-2 {
  background: url("/img/lines-2.svg");
  height: 40px;
  width: 157px;
  background-size: cover;
  margin-top: -1rem;
}

@font-face {
  font-family: 'aparajita';
  src: url("/fonts/aparaj.ttf");
}

@font-face {
  font-family: 'lato-italic';
  src: url("/fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: 'lato-light';
  src: url("/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'lato-regular';
  src: url("/fonts/Lato-Regular.ttf");
}

.page .title-row .title-cont {
  position: relative;
  text-align: center;
}

.page .title-row .title-cont .img-title {
  width: calc(100% - 30px);
}

.page .title-row .title-cont .arrow-right {
  position: absolute;
  right: 0;
  top: calc( 35% - 15px);
  width: 15px;
  height: 15px;
}

.page .title-row .title-cont .arrow-left {
  position: absolute;
  left: 0;
  top: calc( 35% - 15px);
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page .content-row {
  background: rgba(76, 58, 28, 0.5);
  background-repeat: repeat-y;
  background-size: cover;
  padding-top: 4rem !important;
  margin-top: -8rem !important;
  margin-bottom: 3rem;
  min-height: 450px;
}

.page .content-row .content-col .title {
  margin-top: 3rem !important;
  font-family: 'aparajita';
  color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
}

.page .content-row .white-text {
  color: #FFFFFF;
  font-family: 'lato-light';
  font-size: 1.05rem;
}

.page .content-row .brown-text {
  color: #4C3A1C;
  font-family: 'lato-regular';
  font-size: 1.05rem;
}

.page .content-row .white-bold {
  font-family: 'lato-regular';
  color: #FFFFFF;
  font-size: 1.05rem;
}

.page .content-row .map-container {
  margin-top: 2rem;
  text-align: center;
}

.page .content-row .map-container .map {
  width: 170px;
}

.page .content-row .map-container .map-title {
  margin-top: -1rem;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: TimesNewRoman;
  font-size: 1.05rem;
  font-weight: 300;
}

.page .content-row .map-container .map-subtitle {
  margin-top: 0;
  font-family: 'lato-italic';
  color: #FFFFFF;
  font-size: .8rem;
}

.page .content-row .only-text {
  padding: 0 4rem;
  text-align: center;
  padding-bottom: 4rem;
}

body {
  background: url("/img/background.png");
  background-size: cover;
}

.logo-row .logo-container {
  position: relative;
  padding-top: 2rem;
  text-align: center;
}

.logo-row .logo-container .background {
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc( 100% + 30px);
  height: 100%;
  background: url("/img/background-logo.svg");
  background-size: cover;
  z-index: 0;
}

.logo-row .logo-container .logo {
  display: block;
  position: relative;
  z-index: 1;
}

.logo-row .logo-container .logo .img-logo {
  width: 125px;
}
/*# sourceMappingURL=style.css.map */