@import home
@import page

body
    background: url('/img/background.png')
    background-size: cover
.logo-row
    .logo-container
        position: relative
        .background
            position: absolute
            top: -15px
            left: -15px
            width: calc( 100% + 30px )
            height: 100%
            background: url('/img/background-logo.svg')
            background-size: cover
            z-index: 0
        padding-top: 2rem
        text-align: center
        .logo
            display: block
            position: relative
            z-index: 1
            .img-logo
                width: 125px